<%# naming so it does not get blocked by adblock %>
<aside class="beta">
  <div class="beta__container">
    <div class="beta__text">
      We're in beta.<br>Get your invite today!
    </div>
    <div class="featured__cta">
      <a href="#" class="cta cta--white cta--featured">
        <span class="cta__text cta__text--beta"> Get an invite </span>
        <object
          class="cta__arrow"
          data="./img/shared/desktop/arrow-white.svg"
          type="image/svg+xml"
        ></object>
      </a>
    </div>
  </div>
</aside>