<div class="feature">
    <!-- Don't do this in real life :D -->
    <%- include("../../public/" + icon) %> 
  <strong class="feature__name"><%= name %></strong>
  <p class="feature__desc"><%= desc %></p>
</div>
