<header class="header">
  <a href="#" class="header__home">
    <h1>
      <img
        src="./img/shared/desktop/logo.svg"
        alt="Photosnap Home"
        class="header__logo"
      />
    </h1>
  </a>
  <button
    class="btn btn--nav"
    aria-expanded="false"
    aria-label="Mobile Navigation Button"
  >
    &nbsp;
  </button>
  <nav class="nav nav--header" role="navigation">
    <ul class="nav__list nav__list--header">
      <li class="nav__item">
        <a href="#" class="nav__link"> Stories </a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link"> Features </a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link"> Pricing </a>
      </li>
    </ul>
    <div class="nav__cta">
      <a href="#" class="cta cta--white cta--btn cta--bg-black"
        >Get an invite</a
      >
    </div>
  </nav>
  <a href="#" class="cta cta--header cta--white cta--btn cta--bg-black"
    >Get an invite</a
  >
</header>
