/*
Breakpoints based on provided design files

*/
/*
$breakpoint argument choices:
-tablet
-desktop

*/
:root {
  --color-black--pure: rgb(0, 0, 0);
  --color-white--pure: rgb(255, 255, 255);
  --color-grey--light: rgb(223, 223, 223);
  --color-font--default: var(--color-black--pure);
  --gradient-story-bg: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "DM sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.667;
  color: var(--color-font--default); }

.heading__secondary--large {
  font-size: 4rem;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.0959999em; }

.btn {
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit; }
  .btn--nav {
    height: 6px;
    width: 2rem;
    position: relative;
    border: none; }
    .btn--nav::before, .btn--nav::after {
      content: "";
      width: 2rem;
      height: 1px;
      background-color: var(--color-black--pure);
      display: inline-block;
      position: absolute;
      right: 0; }
    .btn--nav::before {
      top: calc(50% - 6px / 2); }
    .btn--nav::after {
      bottom: calc(50% - 6px / 2); }
    @media (min-width: 48em) {
      .btn--nav {
        display: none; } }

.cta {
  color: var(--color-black--pure);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1667em;
  line-height: 1.3334;
  text-decoration: none;
  text-transform: uppercase; }
  .cta--white {
    color: var(--color-white--pure); }
  .cta--bg-black {
    background-color: var(--color-black--pure); }
  .cta--invite-arrow {
    margin-right: 2.2rem; }
  .cta--btn {
    font-size: 1.5rem;
    display: inline-block;
    padding: 1.4rem 6.8rem 1.4rem 6.9rem; }
    @media (min-width: 48em) {
      .cta--btn {
        font-size: 1.2rem;
        padding: 1.2rem 2.4rem; } }
  .cta__featured {
    margin-right: 2.6rem; }
  .cta__arrow {
    height: 1.6rem;
    width: 4.2rem; }

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 45.7rem; }
  .feature:not(:last-child) {
    margin-bottom: 5.6rem; }
    @media (min-width: 48em) {
      .feature:not(:last-child) {
        margin-bottom: 8rem; } }
  .feature__icon {
    width: 7.2rem;
    height: 7.2rem;
    margin-bottom: 4.8rem; }
    .feature__icon--h36 {
      height: 3.6rem;
      margin-bottom: 6.6rem; }
  .feature__name {
    font-size: 1.8rem;
    line-height: 1.3889;
    margin-bottom: 1.6rem; }
  .feature__desc {
    text-align: center;
    opacity: 0.6; }

.featured > * {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-template-areas: "image" "description"; }
  @media (min-width: 48em) {
    .featured > * {
      grid-template-areas: "image description";
      grid-template-columns: 27.3rem 1fr; } }

@media (min-width: 48em) {
  .featured :nth-child(odd) {
    grid-template-areas: "description image";
    grid-template-columns: 1fr 27.3rem; } }

.featured :first-child .featured__desc {
  background-color: var(--color-black--pure);
  color: var(--color-white--pure); }

.featured__desc {
  background-color: var(--color-white--pure);
  color: var(--color-black--pure);
  grid-area: description;
  padding: 7.2rem 2.4rem 7.2rem 3.3rem; }
  @media (min-width: 48em) {
    .featured__desc {
      padding: 13.6rem 5.4rem; } }

.featured__heading {
  font-size: 3.2rem;
  letter-spacing: 0.1200012em;
  margin-bottom: 1.6rem; }
  @media (min-width: 48em) {
    .featured__heading {
      font-size: 4rem;
      line-height: 1.2;
      margin-bottom: 2.1rem; } }

.featured__text {
  opacity: 0.6;
  margin-bottom: 2.3rem; }
  @media (min-width: 48em) {
    .featured__text {
      margin-bottom: 4.8rem; } }

.featured__img {
  display: inline-block;
  grid-area: image; }
  .featured__img img {
    display: block;
    width: 100%; }

.featured__cta {
  display: flex;
  align-items: center; }

.story {
  display: block;
  position: relative;
  background-image: var(--gradient-story-bg); }
  .story__bg {
    height: 37.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .story__bg--lg {
      display: none; }
  .story__article {
    position: absolute;
    bottom: 0;
    color: var(--color-white--pure);
    text-decoration: none;
    width: 100%;
    padding: 0 4.3rem; }
  .story__heading {
    font-size: 1.8rem;
    line-height: 1.3889;
    margin-bottom: 0.4rem; }
  .story__author {
    font-size: 1.3rem;
    line-height: 1.3077; }
  .story__cta {
    display: flex;
    align-items: center;
    padding: 2rem 0 4rem;
    margin-top: 1.6rem;
    border-top: 1px solid rgba(255, 255, 255, 0.25); }
    .story__cta span {
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1667em;
      margin-right: auto; }

.social-icon__link {
  display: block;
  height: 2rem;
  width: 2rem; }
  .social-icon__link svg {
    height: inherit;
    width: inherit; }

.footer {
  background-color: var(--color-black--pure);
  padding: 5.6rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 48em) {
    .footer {
      display: grid;
      grid-template-areas: "logo         cta-invite" "    .           .      " "navigation      .      " "    .           .      " "social-icons copyright";
      grid-template-columns: 31.5rem 1fr;
      grid-template-rows: 1.6rem 3.2rem 1.6rem 7.2rem 2rem;
      padding: 6.4rem 4rem 6.4rem 3.9rem; } }
  .footer__logo {
    height: 1.6rem;
    width: 17rem;
    fill: var(--color-white--pure);
    margin-bottom: 3.2rem; }
    @media (min-width: 48em) {
      .footer__logo {
        grid-area: logo;
        margin-bottom: 0; } }
  .footer__nav {
    margin-bottom: 11.9rem; }
    @media (min-width: 48em) {
      .footer__nav {
        grid-area: navigation;
        margin-bottom: 0; } }
  .footer__copyright {
    color: var(--color-white--pure);
    font-size: 1.5rem;
    line-height: 1.334;
    text-align: center;
    opacity: 0.5; }
    @media (min-width: 48em) {
      .footer__copyright {
        grid-area: copyright;
        justify-self: end; } }
  .footer__cta {
    display: flex;
    align-items: center;
    margin-bottom: 3.4rem; }
    @media (min-width: 48em) {
      .footer__cta {
        grid-area: cta-invite;
        justify-self: end;
        margin-bottom: 0; } }
  .footer__social-icons {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 15.4rem;
    margin-bottom: 4.9rem; }
    @media (min-width: 48em) {
      .footer__social-icons {
        grid-area: social-icons;
        margin-bottom: 0; } }

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 7.2rem; }
  .container > * {
    grid-column: 1 / -1; }

.header {
  display: flex;
  align-items: center;
  padding: 0 2.4rem; }
  @media (min-width: 48em) {
    .header {
      padding: 1.6rem 4rem 1.6rem 3.9rem; } }
  .header__home {
    height: max-content;
    width: max-content;
    margin-right: auto; }
  .header__logo {
    display: block; }

.nav {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.33334;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1667em; }
  .nav--header {
    display: none; }
    .nav--header--open {
      display: block;
      position: fixed;
      left: 0;
      top: 7.2rem;
      background-color: var(--color-white--pure);
      width: 100vw; }
      .nav--header--open::after {
        content: "";
        display: block;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute; }
    @media (min-width: 48em) {
      .nav--header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: auto;
        min-width: 26.9rem; } }
  .nav__list {
    list-style: none; }
    @media (min-width: 48em) {
      .nav__list {
        display: flex;
        justify-content: space-between;
        width: 100%; } }
  .nav__item {
    margin-bottom: 2rem; }
    @media (min-width: 48em) {
      .nav__item {
        display: inline-block;
        margin-bottom: 0; } }
    .nav__item--footer {
      margin-bottom: 0;
      color: var(--color-white--pure); }
      .nav__item--footer:not(:last-child) {
        margin-bottom: 1.9rem; }
        @media (min-width: 48em) {
          .nav__item--footer:not(:last-child) {
            margin-bottom: 0; } }
  .nav__link {
    color: var(--color-black--pure);
    font-size: 1.5rem;
    text-decoration: none; }
    @media (min-width: 48em) {
      .nav__link {
        font-size: 1.2rem; } }
  .nav__cta {
    padding: 2rem 3.2rem 3.2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.25); }
    @media (min-width: 48em) {
      .nav__cta {
        padding: 0;
        border: none;
        display: inline-block; } }

.stories {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.features {
  padding: 8rem 3.2rem; }
  @media (min-width: 48em) {
    .features {
      padding: 12rem 3.2rem; } }
