:root {
  --color-black--pure: rgb(0, 0, 0);
  --color-white--pure: rgb(255, 255, 255);
  --color-grey--light: #f2f2f2;
  --color-grey--dark: #dfdfdf;
  --color-font--default: var(--color-black--pure);
  --gradient-story-bg: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%);
  --gradient-main--horizontal: linear-gradient(0.657deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
  --gradient-main--vertical:   linear-gradient(87.343deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%); }

/*
$breakpoint argument choices:
-tablet 768px
-desktop 1110px

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "DM sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.667;
  color: var(--color-font--default); }

.heading__secondary--large {
  font-size: 4rem;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.0959999em; }

.beta {
  background: url("img/shared/mobile/bg-beta.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 28rem;
  color: var(--color-white--pure);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: relative; }
  @media (min-width: 44.5em) {
    .beta {
      background: url("img/shared/tablet/bg-beta.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; } }
  @media (min-width: 44.5em) {
    .beta {
      background: url("img/shared/desktop/bg-beta.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; } }
  .beta__container {
    padding: 6.4rem 3.2rem; }
    @media (min-width: 44.5em) {
      .beta__container {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 6.8rem 4rem; } }
    @media (min-width: 69.375em) {
      .beta__container {
        max-width: 111rem;
        padding: 6.8rem 0; } }
  .beta__text {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 0.1em;
    margin-bottom: 2.4rem; }
    @media (min-width: 44.5em) {
      .beta__text {
        font-size: 4rem;
        line-height: 1.2;
        margin-right: auto;
        margin-bottom: 0;
        max-width: 40rem; } }
  .beta:after {
    content: "";
    display: block;
    position: absolute;
    height: 0.6rem;
    width: 34.133333%;
    background: var(--gradient-main--horizontal);
    top: 0;
    left: 3.3rem; }
    @media (min-width: 44.5em) {
      .beta:after {
        left: 0;
        top: 50%;
        background: var(--gradient-main--vertical);
        height: 100%;
        width: 0.6rem;
        transform: translateY(-50%); } }

.btn {
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer; }
  .btn--nav {
    height: 6px;
    width: 2rem;
    position: relative;
    border: none; }
    .btn--nav::before, .btn--nav::after {
      content: "";
      width: 2rem;
      height: 1px;
      background-color: var(--color-black--pure);
      display: inline-block;
      position: absolute;
      right: 0; }
    .btn--nav::before {
      transition: all 0.05s;
      top: calc(50% - 6px / 2); }
    .btn--nav::after {
      transition: all 0.1s;
      bottom: calc(50% - 6px / 2); }
    .btn--nav[aria-expanded="true"]::after {
      transform: rotate(-45deg);
      transform-origin: 35%; }
    .btn--nav[aria-expanded="true"]::before {
      transform: rotate(45deg);
      transform-origin: 30%; }
    @media (min-width: 44.5em) {
      .btn--nav {
        display: none; } }

.cta {
  color: var(--color-black--pure);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1667em;
  line-height: 1.3334;
  text-decoration: none;
  text-transform: uppercase; }
  .cta--white {
    color: var(--color-white--pure); }
  .cta--bg-black {
    background-color: var(--color-black--pure); }
    .cta--bg-black:hover, .cta--bg-black:active, .cta--bg-black:focus {
      background-color: var(--color-grey--dark); }
  .cta--invite-arrow {
    margin-right: 2.2rem; }
  .cta--btn {
    font-size: 1.5rem;
    display: inline-block;
    padding: 1.4rem 6.8rem 1.4rem 6.9rem; }
    @media (min-width: 44.5em) {
      .cta--btn {
        font-size: 1.2rem;
        padding: 1.2rem 2.4rem; } }
  .cta--header {
    display: none; }
    .cta--header:hover, .cta--header:active, .cta--header:focus {
      color: var(--color-black--pure); }
    @media (min-width: 44.5em) {
      .cta--header {
        height: 4rem;
        border: none;
        display: inline-block; } }
  .cta--featured {
    display: flex;
    align-items: center; }
    .cta--featured:hover, .cta--featured:active,
    .cta--featured:focus a {
      text-decoration: underline; }
  .cta--footer {
    display: flex;
    align-items: center; }
    .cta--footer:hover, .cta--footer:active,
    .cta--footer:focus a {
      text-decoration: underline; }
  .cta__text--featured {
    margin-right: 2.6rem; }
    @media (min-width: 44.5em) {
      .cta__text--featured {
        margin-right: 1.8rem; } }
  .cta__text--footer {
    margin-right: 1.6rem; }
  .cta__text--beta {
    margin-right: 1.6rem; }
  .cta__arrow {
    height: 1.6rem;
    width: 4.2rem; }

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 45.7rem; }
  .feature:not(:last-child) {
    margin-bottom: 5.6rem; }
    @media (min-width: 44.5em) {
      .feature:not(:last-child) {
        margin-bottom: 8rem; } }
    @media (min-width: 69.375em) {
      .feature:not(:last-child) {
        max-width: 35rem;
        margin-right: 3rem;
        margin-bottom: 0; } }
  .feature__icon {
    min-height: 7.2rem;
    margin-bottom: 4.8rem; }
    .feature__icon--h36 {
      height: 3.6rem;
      margin-bottom: 6.6rem; }
      @media (min-width: 69.375em) {
        .feature__icon--h36 {
          height: 7.2rem;
          margin-bottom: 4.8rem; } }
  .feature__name {
    font-size: 1.8rem;
    line-height: 1.3889;
    margin-bottom: 1.6rem; }
  .feature__desc {
    text-align: center;
    opacity: 0.6; }

.featured__1 {
  background-color: var(--color-black--pure); }
  .featured__1 .featured__desc {
    background-color: inherit;
    color: var(--color-white--pure);
    position: relative; }
    .featured__1 .featured__desc:after {
      content: "";
      display: block;
      position: absolute;
      height: 0.6rem;
      width: 34.133333%;
      background: var(--gradient-main--horizontal);
      top: 0;
      left: 3.3rem; }
      @media (min-width: 44.5em) {
        .featured__1 .featured__desc:after {
          left: 0;
          top: 50%;
          background: var(--gradient-main--vertical);
          height: 46.76923%;
          width: 0.6rem;
          transform: translateY(-50%); } }

.featured__desc {
  background-color: var(--color-white--pure);
  color: var(--color-black--pure);
  grid-area: description;
  padding: 7.2rem 2.4rem 7.2rem 3.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 44.5em) {
    .featured__desc {
      padding: 0 5.4rem; } }
  @media (min-width: 69.375em) {
    .featured__desc {
      padding: 0 18.278688525%;
      margin: 0 auto; } }
  .featured__desc--features .featured__text, .featured__desc--pricing .featured__text {
    margin-bottom: 0; }

.featured__heading {
  font-size: 3.2rem;
  letter-spacing: 0.1200012em;
  margin-bottom: 1.6rem; }
  @media (min-width: 44.5em) {
    .featured__heading {
      font-size: 4rem;
      line-height: 1.2;
      margin-bottom: 2.1rem; } }

.featured__text {
  opacity: 0.6;
  margin-bottom: 2.3rem; }
  @media (min-width: 44.5em) {
    .featured__text {
      margin-bottom: 4.8rem; } }

.featured__img {
  display: inline-block;
  grid-area: image; }
  .featured__img img {
    display: block;
    height: 100%;
    width: 100%; }
    @media (min-width: 69.375em) {
      .featured__img img {
        object-fit: cover; } }

.featured__cta {
  width: max-content; }

@media (min-width: 44.5em) {
  .features-pricing {
    max-width: 73.1rem;
    padding: 0;
    margin: 0 auto 11.2rem auto; } }

@media (min-width: 69.375em) {
  .features-pricing {
    margin-bottom: 16rem; } }

.features-pricing__compare {
  display: none; }
  @media (min-width: 44.5em) {
    .features-pricing__compare {
      font-size: 4rem;
      line-height: 1.2;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      margin-bottom: 6.4rem;
      letter-spacing: 0.1em; } }

.features-pricing__header {
  padding-bottom: 2.3rem;
  border-bottom: 1px solid var(--color-black--pure);
  margin-bottom: 2.3rem; }
  @media (min-width: 44.5em) {
    .features-pricing__header {
      display: grid;
      grid-template-areas: ". row-name plan-list";
      grid-template-columns: 2.4rem 1fr calc(3 * 14rem); } }

.features-pricing__header-list {
  display: none; }
  @media (min-width: 44.5em) {
    .features-pricing__header-list {
      list-style: none;
      grid-area: plan-list;
      justify-items: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "plan-basic plan-pro plan-business";
      justify-content: space-between; } }

.features-pricing__heading {
  font-size: 1.2rem;
  line-height: 1.25;
  letter-spacing: 0.16666667em;
  text-transform: uppercase; }
  @media (min-width: 44.5em) {
    .features-pricing__heading {
      grid-area: row-name; } }

.features-pricing__table-row {
  padding-bottom: 2.4rem; }
  .features-pricing__table-row:not(:last-child) {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 2.3rem; }
  @media (min-width: 44.5em) {
    .features-pricing__table-row {
      display: grid;
      grid-template-areas: ". row-name plan-list";
      grid-template-columns: 2.4rem 1fr calc(3 * 14rem); } }

.features-pricing__row-name {
  font-size: 1.2rem;
  line-height: 1.25;
  letter-spacing: 0.16666667em;
  text-transform: uppercase;
  margin-bottom: 1.6rem; }
  @media (min-width: 44.5em) {
    .features-pricing__row-name {
      grid-area: row-name;
      margin-bottom: 0; } }

.features-pricing__plan-checklist {
  list-style: none;
  display: flex;
  justify-content: space-between; }
  .features-pricing__plan-checklist:last-child {
    margin-right: 4.6rem; }
  @media (min-width: 44.5em) {
    .features-pricing__plan-checklist {
      grid-area: plan-list;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "plan-basic plan-pro plan-business";
      justify-items: center; }
      .features-pricing__plan-checklist:last-child {
        margin-right: 0; } }

.features-pricing__plan {
  display: flex;
  flex-direction: column; }
  .features-pricing__plan:nth-child(1) {
    grid-area: plan-basic; }
  .features-pricing__plan:nth-child(2) {
    grid-area: plan-pro; }
  .features-pricing__plan:nth-child(3) {
    grid-area: plan-business; }

.features-pricing__plan-name {
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.16666667em;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 0.8rem; }
  @media (min-width: 44.5em) {
    .features-pricing__plan-name {
      display: none; } }
  .features-pricing__plan-name--header {
    display: none;
    opacity: initial;
    margin-bottom: 0;
    font-size: 1.2rem; }
    @media (min-width: 44.5em) {
      .features-pricing__plan-name--header {
        display: block; } }
    .features-pricing__plan-name--header:nth-child(1) {
      grid-area: plan-basic; }
    .features-pricing__plan-name--header:nth-child(2) {
      grid-area: plan-pro; }
    .features-pricing__plan-name--header:nth-child(3) {
      grid-area: plan-business; }

.features-pricing__check-icon {
  height: 1.4rem; }

.plan-card {
  padding: 5.6rem 2.1rem 4rem 2.2rem;
  background-color: var(--color-grey--light);
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 44.5em) {
    .plan-card {
      padding: 4rem 4.8rem 4rem 4rem;
      display: grid;
      grid-template-areas: "text pricing" "pick    .   ";
      grid-template-columns: 27rem 1fr; } }
  @media (min-width: 69.375em) {
    .plan-card {
      grid-template-areas: "text" "pricing" "pick";
      padding: 5.6rem 4rem 4rem 4rem; }
      .plan-card:not(:last-child) {
        margin-right: 3rem; } }
  .plan-card__text {
    margin-bottom: 4rem; }
    .plan-card__text > * {
      text-align: center; }
    @media (min-width: 44.5em) {
      .plan-card__text {
        grid-area: text;
        margin-bottom: 3.2rem; }
        .plan-card__text > * {
          text-align: left; } }
    @media (min-width: 69.375em) {
      .plan-card__text {
        margin-bottom: 4rem; }
        .plan-card__text > * {
          text-align: center; } }
  .plan-card__heading {
    font-size: 2.4rem;
    line-height: 1.042;
    margin-bottom: 1.8rem; }
  .plan-card__desc {
    opacity: 0.6; }
  .plan-card__pricing {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 44.5em) {
      .plan-card__pricing {
        grid-area: pricing;
        justify-self: end;
        align-self: flex-start; } }
    @media (min-width: 69.375em) {
      .plan-card__pricing {
        justify-self: center; } }
  .plan-card__price {
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: 0.10416675em; }
    @media (min-width: 44.5em) {
      .plan-card__price {
        margin-right: calc(2 * -0.10416675em); } }
    @media (min-width: 69.375em) {
      .plan-card__price {
        margin-right: 0; } }
  .plan-card__price-period {
    opacity: 0.6; }
    @media (min-width: 44.5em) {
      .plan-card__price-period {
        align-self: flex-end; } }
    @media (min-width: 69.375em) {
      .plan-card__price-period {
        align-self: center; } }
  .plan-card__pick {
    background-color: var(--color-black--pure);
    color: var(--color-white--pure);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.333;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.2rem 3.72rem;
    width: 100%;
    transition: ease-in 0.2s; }
    .plan-card__pick:hover, .plan-card__pick:active, .plan-card__pick:focus {
      color: var(--color-black--pure);
      background-color: var(--color-grey--dark); }
    @media (min-width: 44.5em) {
      .plan-card__pick {
        grid-area: pick; } }
  .plan-card:nth-of-type(2) {
    background-color: var(--color-black--pure);
    color: var(--color-white--pure);
    position: relative; }
    @media (min-width: 69.375em) {
      .plan-card:nth-of-type(2) {
        padding-top: 8.8rem;
        padding-bottom: 7.1rem; } }
    .plan-card:nth-of-type(2) .plan-card__pick {
      background-color: var(--color-white--pure);
      color: var(--color-black--pure); }
      .plan-card:nth-of-type(2) .plan-card__pick:hover, .plan-card:nth-of-type(2) .plan-card__pick:active, .plan-card:nth-of-type(2) .plan-card__pick:focus {
        background-color: var(--color-grey--dark); }
    .plan-card:nth-of-type(2):after {
      content: "";
      display: block;
      position: absolute;
      height: 0.6rem;
      width: 34.133333%;
      background: var(--gradient-main--horizontal);
      top: 0;
      left: 3.3rem;
      width: 100%;
      left: 0; }
      @media (min-width: 44.5em) {
        .plan-card:nth-of-type(2):after {
          left: 0;
          top: 50%;
          background: var(--gradient-main--vertical);
          height: 100%;
          width: 0.6rem;
          transform: translateY(-50%); } }
      @media (min-width: 69.375em) {
        .plan-card:nth-of-type(2):after {
          height: 0.6rem;
          width: 100%;
          top: 0; } }

.price-toggle__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  position: relative; }

.price-toggle__checkbox {
  opacity: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); }
  .price-toggle__checkbox:checked + label > .price-toggle__label--monthly {
    color: var(--color-grey--dark); }
  .price-toggle__checkbox:checked + label > .price-toggle__label--yearly {
    color: var(--color-black--pure); }
  .price-toggle__checkbox:checked + label::after {
    background-color: var(--color-white--pure);
    transform: translate(50%, -50%); }
  .price-toggle__checkbox:checked + label::before {
    background-color: var(--color-black--pure); }

.price-toggle__label {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 0.72; }
  .price-toggle__label > * {
    cursor: pointer; }
  .price-toggle__label--monthly {
    margin: 0 6.4rem 0 auto; }
  .price-toggle__label--yearly {
    margin: 0 auto 0 6.4rem;
    color: var(--color-grey--dark); }
    .price-toggle__label--yearly:hover {
      color: var(--color-black--pure); }
  .price-toggle__label::after {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
    position: absolute;
    border-radius: 50%;
    height: 2.4rem;
    width: 2.4rem;
    background-color: var(--color-black--pure);
    transition: all 0.3s;
    cursor: pointer; }
  .price-toggle__label::before {
    content: "";
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-36%, -50%);
    height: 3.2rem;
    width: 6.4rem;
    background: var(--color-grey--dark);
    border-radius: 3.2rem;
    cursor: pointer; }

.story {
  display: block;
  position: relative;
  background-image: var(--gradient-story-bg); }
  .story__bg {
    height: 37.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media (min-width: 69.375em) {
      .story__bg {
        display: none;
        height: 50rem; } }
    .story__bg--lg {
      display: none; }
      @media (min-width: 69.375em) {
        .story__bg--lg {
          display: block; } }
    .story__bg--featured {
      height: 31.7rem; }
  .story--card {
    transition: transform ease-in 0.2s; }
    .story--card:hover, .story--card:focus, .story--card:active {
      transform: translateY(-3rem); }
      .story--card:hover:after, .story--card:focus:after, .story--card:active:after {
        content: "";
        display: block;
        position: absolute;
        height: 0.6rem;
        width: 34.133333%;
        background: var(--gradient-main--horizontal);
        top: 0;
        left: 3.3rem;
        bottom: -.6rem;
        top: unset !important;
        width: 100% !important; }
        @media (min-width: 44.5em) {
          .story--card:hover:after, .story--card:focus:after, .story--card:active:after {
            left: 0;
            top: 50%;
            background: var(--gradient-main--vertical);
            height: 0.6rem;
            width: 0.6rem;
            transform: translateY(-50%); } }
  .story .featured__bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media (min-width: 44.5em) {
      .story .featured__bg {
        display: none; } }
    .story .featured__bg.story__bg--md {
      display: none; }
      @media (min-width: 44.5em) {
        .story .featured__bg.story__bg--md {
          display: block;
          height: 65rem;
          width: 100vw; } }
      @media (min-width: 69.375em) {
        .story .featured__bg.story__bg--md {
          display: none; } }
    .story .featured__bg.story__bg--lg {
      display: none; }
      @media (min-width: 69.375em) {
        .story .featured__bg.story__bg--lg {
          display: block;
          height: 65rem;
          width: 100vw; } }
  .story__article {
    position: absolute;
    bottom: 0;
    color: var(--color-white--pure);
    text-decoration: none;
    width: 100%;
    padding: 0 3.3rem; }
    .story__article--featured {
      position: unset;
      background-color: var(--color-black--pure);
      padding: 4.8rem 2.8rem; }
      @media (min-width: 44.5em) {
        .story__article--featured {
          position: absolute;
          top: 12.2rem;
          left: 3.9rem;
          height: 40.6rem;
          width: 38.7rem;
          padding: 0;
          background-color: rgba(0, 0, 0, 0); } }
      @media (min-width: 69.375em) {
        .story__article--featured {
          top: 11.6rem;
          left: 11.2rem; } }
  .story__heading {
    font-size: 1.8rem;
    line-height: 1.3889;
    margin-bottom: 0.4rem;
    letter-spacing: 0.104166666; }
    .story__heading--featured {
      font-size: 3.2rem;
      line-height: 1.25;
      text-transform: uppercase;
      margin-bottom: 1.6rem; }
      @media (min-width: 44.5em) {
        .story__heading--featured {
          font-size: 4rem; } }
  .story__author, .story__date {
    font-size: 1.3rem;
    line-height: 1.3077; }
  .story__date--featured {
    opacity: 0.6;
    margin-right: 0.9rem; }
  .story__date--listing {
    margin-bottom: 0.4rem; }
  .story__cta {
    display: flex;
    align-items: center;
    padding: 2rem 0 4rem;
    margin-top: 1.6rem;
    border-top: 1px solid rgba(255, 255, 255, 0.25); }
    .story__cta span {
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1667em;
      margin-right: auto; }
    .story__cta--featured {
      border: none;
      margin: 0;
      padding: 0; }
      .story__cta--featured span {
        margin-right: 1.6rem; }
  .story__last-month {
    font-size: 1.2rem;
    line-height: 1.3334;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.6rem;
    display: inline-block;
    letter-spacing: 0.166667em; }
  .story__meta {
    margin-bottom: 2.4rem;
    line-height: 1; }
  .story__text {
    opacity: 0.6;
    margin-bottom: 2.4rem; }
  .story--featured {
    display: flex; }
    @media (min-width: 44.5em) {
      .story--featured {
        position: relative;
        height: 65rem; } }

.social-icon__link {
  display: block;
  height: 2rem;
  width: 2rem; }
  .social-icon__link svg {
    height: inherit;
    width: inherit; }
    .social-icon__link svg path {
      fill: var(--color-white--pure); }
  .social-icon__link:hover svg path {
    fill: url(#a); }

.footer {
  background-color: var(--color-black--pure); }
  .footer__container {
    padding: 5.6rem 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 44.5em) {
      .footer__container {
        display: grid;
        grid-template-areas: "logo         cta-invite" "    .           .      " "navigation      .      " "    .           .      " "social-icons copyright";
        grid-template-columns: 31.5rem 1fr;
        grid-template-rows: 1.6rem 3.2rem 1.6rem 7.2rem 2rem;
        padding: 6.4rem 4rem 6.4rem 3.9rem; } }
    @media (min-width: 69.375em) {
      .footer__container {
        grid-template-areas: "logo         navigation  cta-invite" "social-icons       navigation     copyright";
        grid-template-columns: 27.9rem min-content 1fr;
        grid-template-rows: auto;
        row-gap: 8.6rem;
        width: 76.6666667%;
        margin: 0 auto;
        padding: 6.4rem 0; } }
  .footer__logo {
    height: 1.6rem;
    width: 17rem;
    fill: var(--color-white--pure);
    margin-bottom: 3.2rem; }
    @media (min-width: 44.5em) {
      .footer__logo {
        grid-area: logo;
        margin-bottom: 0; } }
  .footer__nav {
    margin-bottom: 11.9rem; }
    @media (min-width: 44.5em) {
      .footer__nav {
        grid-area: navigation;
        margin-bottom: 0; } }
    @media (min-width: 69.375em) {
      .footer__nav {
        height: 100%; } }
  .footer__copyright {
    color: var(--color-white--pure);
    font-size: 1.5rem;
    line-height: 1.334;
    text-align: center;
    opacity: 0.5; }
    @media (min-width: 44.5em) {
      .footer__copyright {
        grid-area: copyright;
        justify-self: end; } }
  .footer__cta {
    display: flex;
    align-items: center;
    margin-bottom: 3.4rem; }
    @media (min-width: 44.5em) {
      .footer__cta {
        grid-area: cta-invite;
        justify-self: end;
        margin-bottom: 0; } }
  .footer__social-icons {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 15.4rem;
    margin-bottom: 4.9rem; }
    @media (min-width: 44.5em) {
      .footer__social-icons {
        grid-area: social-icons;
        margin-bottom: 0; } }

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .container > * {
    grid-column: 1 / -1; }

.header {
  display: flex;
  align-items: center;
  padding: 2.8rem 2.4rem;
  z-index: 5; }
  @media (min-width: 44.5em) {
    .header {
      padding: 1.6rem 4rem 1.6rem 3.9rem; } }
  @media (min-width: 69.375em) {
    .header {
      padding: 1.6rem 0;
      width: 77.08333%;
      margin: 0 auto; } }
  .header__home {
    height: max-content;
    width: max-content;
    margin-right: auto; }
  .header__logo {
    display: block; }

.nav {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.33334;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1667em; }
  .nav--header {
    display: none;
    margin-right: auto; }
    .nav--header--open {
      display: block;
      position: absolute;
      left: 0;
      top: 7.1rem;
      padding: 3.2rem 3.2rem 0 3.2rem;
      background-color: var(--color-white--pure);
      width: 100vw;
      animation: growNavbar 0.2s ease-in; }
      .nav--header--open::after {
        content: "";
        display: block;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        margin: 0 -3.2rem 0 -3.2rem; }
      .nav--header--open .nav__cta {
        display: block;
        padding-top: 2rem;
        border-top: 1px solid var(--color-grey--dark);
        margin-bottom: 3.2rem; }
        .nav--header--open .nav__cta .cta {
          width: 100%; }
    @media (min-width: 44.5em) {
      .nav--header {
        display: flex;
        align-items: center;
        display: block; } }
  .nav__list {
    list-style: none; }
    @media (min-width: 44.5em) {
      .nav__list {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        .nav__list--header {
          width: 26.9rem;
          margin-right: auto; } }
    @media (min-width: 69.375em) {
      .nav__list--footer {
        flex-direction: column;
        height: 100%; } }
  .nav__item {
    margin-bottom: 2rem; }
    @media (min-width: 44.5em) {
      .nav__item {
        display: inline-block;
        margin-bottom: 0; } }
    .nav__item--footer {
      margin-bottom: 0;
      color: var(--color-white--pure); }
      .nav__item--footer:not(:last-child) {
        margin-bottom: 1.9rem; }
        @media (min-width: 44.5em) {
          .nav__item--footer:not(:last-child) {
            margin-bottom: 0; } }
      .nav__item--footer a,
      .nav__item--footer a:visited {
        text-decoration: none;
        color: inherit; }
      .nav__item--footer:hover, .nav__item--footer:active, .nav__item--footer:focus {
        opacity: 0.3; }
  .nav__link {
    color: var(--color-black--pure);
    font-size: 1.5rem;
    text-decoration: none; }
    .nav__link:hover, .nav__link:active, .nav__link:focus {
      opacity: 0.3; }
    @media (min-width: 44.5em) {
      .nav__link {
        font-size: 1.2rem; } }
  .nav__cta {
    display: none; }

@keyframes growNavbar {
  0% {
    height: 0;
    opacity: 0;
    overflow: hidden; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1;
    height: 25.3rem; } }

.featured-container > * {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-template-areas: "image" "description"; }
  @media (min-width: 44.5em) {
    .featured-container > * {
      grid-template-areas: "image description";
      grid-template-columns: 27.3rem 1fr; } }
  @media (min-width: 69.375em) {
    .featured-container > * {
      grid-template-columns: 1fr minmax(min-content, 42.36111%); } }

@media (min-width: 44.5em) {
  .featured-container :nth-child(odd) {
    grid-template-areas: "description image";
    grid-template-columns: 1fr 27.3rem; } }

@media (min-width: 69.375em) {
  .featured-container :nth-child(odd) {
    grid-template-columns: minmax(min-content, 42.36111%) 1fr; } }

.stories {
  width: 100vw; }
  @media (min-width: 44.5em) {
    .stories {
      display: grid;
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 69.375em) {
    .stories {
      grid-template-columns: repeat(4, 1fr); } }

.features {
  padding: 8rem 3.2rem; }
  @media (min-width: 44.5em) {
    .features {
      padding: 12rem 3.2rem; } }
  @media (min-width: 69.375em) {
    .features {
      display: flex;
      max-width: 111rem;
      padding: 13.8rem 0 12rem 0;
      margin: 0 auto; } }
  .features--features {
    padding: 6.4rem 3.2rem 9.1rem 3.2rem; }
    @media (min-width: 44.5em) {
      .features--features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 7.2rem;
        column-gap: 1.3rem;
        padding: 11.2rem 3.9rem; }
        .features--features .feature {
          margin-bottom: 0; } }
    @media (min-width: 69.375em) {
      .features--features {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10.4rem;
        column-gap: 3rem;
        padding: 16rem 0; }
        .features--features .feature {
          margin-right: 0; } }

.plans-container {
  padding: 6.4rem 2.8rem 6.4rem 2.9rem;
  margin-bottom: 6.4rem; }
  @media (min-width: 44.5em) {
    .plans-container {
      padding: 11.2rem 4rem 0 3.9rem;
      margin-bottom: 11.2rem; } }
  @media (min-width: 69.375em) {
    .plans-container {
      padding: 12rem 0 16rem 0;
      margin: 0 auto;
      width: 111rem; } }
  @media (min-width: 69.375em) {
    .plans-container__cards {
      display: flex;
      align-items: center; } }

.features-pricing {
  padding: 0 2.8rem 0 2.9rem;
  margin-bottom: 6.4rem;
  font-weight: bold; }
