.beta {
  background: url("img/shared/mobile/bg-beta.jpg");
  @include bg-no-rpt-cntr-cvr;
  height: 28rem;

  color: var(--color-white--pure);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: relative;

  //@TODO - background stuff could be  in an extend
  @include respond(tablet) {
    background: url("img/shared/tablet/bg-beta.jpg");
    @include bg-no-rpt-cntr-cvr;
  }

  @include respond(tablet) {
    background: url("img/shared/desktop/bg-beta.jpg");
    @include bg-no-rpt-cntr-cvr;
  }
  &__container {
    padding: 6.4rem 3.2rem;
    @include respond(tablet) {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 6.8rem 4rem;
    }

    @include respond(desktop) {
      max-width: 111rem;
      padding: 6.8rem 0;
    }
  }

  &__text {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 0.1em;
    margin-bottom: 2.4rem;

    @include respond(tablet) {
      font-size: 4rem;
      line-height: 1.2;
      margin-right: auto;
      margin-bottom: 0;
      max-width: 40rem;
    }
  }

  &:after {
    @include rainbow-gradient(100%);
  }
}
