.btn {
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;

  &--nav {
    height: $btn-nav-height;
    width: 2rem;

    position: relative;
    border: none;

    &::before,
    &::after {
      content: "";
      width: 2rem;
      height: 1px;
      background-color: var(--color-black--pure);
      display: inline-block;
      position: absolute;
      right: 0;
    }

    &::before {
      transition: all 0.05s;
      top: calc(50% - #{$btn-nav-height} / 2);
    }

    &::after {
      transition: all 0.1s;
      bottom: calc(50% - #{$btn-nav-height} / 2);
    }

    &[aria-expanded="true"] {
      &::after {
        transform: rotate(-45deg);
        transform-origin: 35%;
      }

      &::before {
        transform: rotate(45deg);
        transform-origin: 30%;
      }
    }

    @include respond(tablet) {
      display: none;
    }
  }
}
