.cta {
  color: var(--color-black--pure);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1667em;
  line-height: 1.3334;
  text-decoration: none;
  text-transform: uppercase;

  &--white {
    color: var(--color-white--pure);
  }

  &--bg-black {
    background-color: var(--color-black--pure);
  }

  &--invite-arrow {
    margin-right: 2.2rem;
  }

  &--btn {
    font-size: 1.5rem;
    display: inline-block;
    padding: 1.4rem 6.8rem 1.4rem 6.9rem;

    @include respond(tablet) {
      font-size: 1.2rem;
      padding: 1.2rem 2.4rem;
    }
  }

  &--header {
    display: none;

    @include respond(tablet) {
      height: 4rem;
      border: none;

      display: inline-block;
    }
  }

  &--featured {
    display: flex;
    align-items: center;
  }

  &--footer {
    display: flex;
    align-items: center;
  }

  &__text {
    &--featured {
      margin-right: 2.6rem;

      @include respond(tablet) {
        margin-right: 1.8rem;
      }
    }

    &--footer {
      margin-right: 1.6rem;
    }
  }

  &__arrow {
    height: 1.6rem;
    width: 4.2rem;
  }
}
