.featured {

  &__1 {
    background-color: var(--color-black--pure);
    
    .featured {
      &__desc {
        background-color: inherit;
        color: var(--color-white--pure);
        position: relative;

        //the gradient thing under / on the side of the desc
        &:after {
          content: "";
          display: block;
          position: absolute;
          height: 0.6rem;
          width: 34.133333%;
          background: var(--gradient-main--horizontal);
          top: 0;
          left: 3.3rem;

          @include respond(tablet) {
            left: 0;
            background: var(--gradient-main--vertical);
            height: 29.3887755102%;
            width: 0.6rem;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        &--features {
          &:after {
            @include respond(tablet) {

            }
          }
        }
      }
    }
  }

  &__desc {
    background-color: var(--color-white--pure);
    color: var(--color-black--pure);
    grid-area: description;
    padding: 7.2rem 2.4rem 7.2rem 3.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(tablet) {
      padding: 0 5.4rem;
    }

    @include respond(desktop) {
      padding: 0 18.278688525%;
      margin: 0 auto;
    }

    &--features {
      .featured__text {
        margin-bottom: 0;
      }
    }
  }

  &__heading {
    font-size: 3.2rem;
    letter-spacing: 0.1200012em;
    margin-bottom: 1.6rem;

    @include respond(tablet) {
      font-size: 4rem;
      line-height: 1.2;
      margin-bottom: 2.1rem;
    }
  }

  &__text {
    opacity: 0.6;
    margin-bottom: 2.3rem;

    @include respond(tablet) {
      margin-bottom: 4.8rem;
    }
  }

  &__img {
    display: inline-block;
    grid-area: image;

    img {
      display: block;
      height: 100%;
      width: 100%;

      @include respond(desktop) {
        object-fit: cover;
      }
    }
  }

  &__cta {
    width: max-content;
  }
}
