.featured {
  & > * {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-template-areas:
      "image"
      "description";

    @include respond(tablet) {
    grid-template-areas: "image description";
      grid-template-columns: 27.3rem 1fr;
    }
  }

  :nth-child(odd) {
    @include respond(tablet) {
    grid-template-areas: "description image";
      grid-template-columns: 1fr 27.3rem;
    }
  }

  :first-child {
    .featured__desc {
      background-color: var(--color-black--pure);
      color: var(--color-white--pure);
    }

  }


  &__desc {
    background-color: var(--color-white--pure);
    color: var(--color-black--pure);
    grid-area: description;
    padding: 7.2rem 2.4rem 7.2rem 3.3rem;

    @include respond (tablet) {
      padding: 13.6rem 5.4rem;
    }
  }

  &__heading {
    font-size: 3.2rem;
    letter-spacing: 0.1200012em;
    margin-bottom: 1.6rem;

    @include respond (tablet) {
      font-size: 4rem;
      line-height: 1.2;
      margin-bottom: 2.1rem;
    }
  }

  &__text {
    opacity: 0.6;
    margin-bottom: 2.3rem;

    @include respond (tablet) {
      margin-bottom: 4.8rem;
    }
  }

  &__img {
    display: inline-block;
    grid-area: image;

    img {
      display: block;
      width: 100%;
    }
  }

  &__cta {
    display: flex;
    align-items: center;
  }
}
