.footer {
  background-color: var(--color-black--pure);

  &__container {
    padding: 5.6rem 3.2rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    @include respond(tablet) {
      display: grid;
      grid-template-areas:
        "logo         cta-invite"
        "    .           .      "
        "navigation      .      "
        "    .           .      "
        "social-icons copyright";
      grid-template-columns: 31.5rem 1fr;
      grid-template-rows:  1.6rem 3.2rem 1.6rem 7.2rem 2rem;
      padding: 6.4rem 4rem 6.4rem 3.9rem;
    }
  
    @include respond(desktop) {
      grid-template-areas:
        "logo         navigation  cta-invite"
        "social-icons       navigation     copyright";

      grid-template-columns: 27.9rem min-content 1fr;
      grid-template-rows: auto;
      row-gap: 8.6rem;
      width: 76.6666667%;
      margin: 0 auto;
      padding: 6.4rem 0;
    }
  }

  &__logo {
    height: 1.6rem;
    width: 17rem;
    fill: var(--color-white--pure);
    margin-bottom: 3.2rem;

    @include respond(tablet) {
      grid-area: logo;
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 11.9rem;

    @include respond(tablet) {
      grid-area: navigation;
      margin-bottom: 0;
    }

    @include respond(desktop) {
      height: 100%;
    }
  }

  &__copyright {
    color: var(--color-white--pure);
    font-size: 1.5rem;
    line-height: 1.334;
    text-align: center;
    opacity: 0.5;
    @include respond(tablet) {
      grid-area: copyright;
      justify-self: end;
    }
  }

  &__cta {
    display: flex;
    align-items: center;

    margin-bottom: 3.4rem;

    @include respond(tablet) {
      grid-area: cta-invite;
      justify-self: end;
      margin-bottom: 0;
    }
  }

  &__social-icons {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 15.4rem;

    margin-bottom: 4.9rem;
    @include respond(tablet) {
      grid-area: social-icons;
      margin-bottom: 0;
    }
  }
}
