.header {
  display: flex;
  align-items: center;
  padding: 2.8rem 2.4rem;
  z-index: 5;

  @include respond(tablet) {
    padding: 1.6rem 4rem 1.6rem 3.9rem;
  }

  @include respond(desktop) {
    padding: 1.6rem 0;
    width: 77.08333%;
    margin: 0 auto;
  }

  &__home {
    height: max-content;
    width: max-content;
    margin-right: auto;
  }

  &__logo {
    display: block;
  }
}
