.nav {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.33334;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1667em;

  &--header {
    display: none;
    margin-right: auto;

    &--open {
      display: block;
      position: absolute;
      left: 0;
      top: 7.1rem;
      padding: 3.2rem 3.2rem 0 3.2rem;

      background-color: var(--color-white--pure);
      width: 100vw;
      animation: growNavbar 0.2s ease-in;

      &::after {
        content: "";
        display: block;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        margin: 0 -3.2rem 0 -3.2rem;
      }

      .nav__cta {
        display: block;
        padding-top: 2rem;
        border-top: 1px solid var(--color-grey--dark);
        margin-bottom: 3.2rem;

        .cta {
          width: 100%;
        }
      }
    }

    @include respond(tablet) {
      display: flex;
      align-items: center;
      display: block;
    }
  }

  &__list {
    list-style: none;

    @include respond(tablet) {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &--header {
        width: 26.9rem;
        margin-right: auto;
      }
    }

    @include respond(desktop) {
      &--footer {
        flex-direction: column;
        height: 100%;
        text-align: left;;
      }
    }
  }

  &__item {
    margin-bottom: 2rem;

    @include respond(tablet) {
      display: inline-block;
      margin-bottom: 0;
    }

    &--footer {
      margin-bottom: 0;
      color: var(--color-white--pure);

      &:not(:last-child) {
        margin-bottom: 1.9rem;

        @include respond(tablet) {
          margin-bottom: 0;
        }
      }

      a,
      a:visited {
        text-decoration: none;
        color: inherit;
      }
      &:hover,
      &:active,
      &:focus {
        opacity: 0.3;
      }
    }
  }

  &__link {
    color: var(--color-black--pure);

    font-size: 1.5rem;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.3;
    }

    @include respond(tablet) {
      font-size: 1.2rem;
    }
  }

  &__cta {
    display: none;
  }
}

@keyframes growNavbar {
  0% {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    height: 25.3rem;
  }
}
