.stories {
  max-width: 100%;
  @include respond(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}
