.featured-container {
  & > * {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-template-areas:
      "image"
      "description";

    @include respond(tablet) {
      grid-template-areas: "image description";
      grid-template-columns: 27.3rem 1fr;
    }

    @include respond(desktop) {
      grid-template-columns: 1fr minmax(min-content, 42.36111%);
    }
  }

  :nth-child(odd) {
    @include respond(tablet) {
      grid-template-areas: "description image";
      grid-template-columns: 1fr 27.3rem;
    }

    @include respond(desktop) {
      grid-template-columns: minmax(min-content, 42.36111%) 1fr;
    }
  }

  &--story {
  }
}

.stories {
  width: 100vw;
  @include respond(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.features {
  padding: 8rem 3.2rem;

  @include respond(tablet) {
    padding: 12rem 3.2rem;
  }

  @include respond(desktop) {
    display: flex;
    max-width: 111rem;
    padding: 13.8rem 0 12rem 0;
    margin: 0 auto;
  }

  &--features {
    padding: 6.4rem 3.2rem 9.1rem 3.2rem;

    @include respond(tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 7.2rem;
      column-gap: 1.3rem;

      padding: 11.2rem 3.9rem;

      .feature {
        margin-bottom: 0;
      }
    }

    @include respond(desktop) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 10.4rem;
      column-gap: 3rem;

      padding: 16rem 0;

      .feature {
        margin-right: 0;
      }
    }
  }
}

.plans-container {
  padding: 6.4rem 2.8rem 6.4rem 2.9rem;
  margin-bottom: 6.4rem;

  @include respond(tablet) {
    padding: 11.2rem 4rem 0 3.9rem;
    margin-bottom: 11.2rem;
  }

  @include respond(desktop) {
    padding: 12rem 0 16rem 0;
    margin: 0 auto;
    width: 111rem;
  }

  &__cards {
    @include respond(desktop) {
      display: flex;
      align-items: center;
    }
  }
}

.features-pricing {
  padding: 0 2.8rem 0 2.9rem;
  margin-bottom: 6.4rem;
  font-weight: bold;

  @include respond(tablet) {
    max-width: 73.1rem;
    padding: 0;
    margin: 0 auto 11.2rem auto;
  }

  @include respond(desktop) {
    margin-bottom: 16rem;
  }
  &__compare {
    display: none;
    @include respond(tablet) {
      font-size: 4rem;
      line-height: 1.2;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      margin-bottom: 6.4rem;
      letter-spacing: 0.1em;
    }
  }

  &__header {
    padding-bottom: 2.3rem;
    border-bottom: 1px solid var(--color-black--pure);
    margin-bottom: 2.3rem;

    @include respond(tablet) {
      display: grid;
      grid-template-areas: ". row-name plan-list";
      grid-template-columns: 2.4rem 1fr calc(3 * 14rem);
    }
  }

  &__header-list {
    display: none;

    @include respond(tablet) {
      list-style: none;
      grid-area: plan-list;
      justify-items: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "plan-basic plan-pro plan-business";
      justify-content: space-between;
    }
  }

  &__heading {
    //this font stuff could be some u-class
    font-size: 1.2rem;
    line-height: 1.25;
    letter-spacing: 0.16666667em;
    text-transform: uppercase;

    @include respond(tablet) {
      grid-area: row-name;
    }
  }

  &__table-row {
    padding-bottom: 2.4rem;
    &:not(:last-child) {
      border-bottom: 1px solid #dfdfdf;
      margin-bottom: 2.3rem;
    }

    @include respond(tablet) {
      display: grid;
      grid-template-areas: ". row-name plan-list";
      grid-template-columns: 2.4rem 1fr calc(3 * 14rem);
    }
  }

  &__row-name {
    font-size: 1.2rem;
    line-height: 1.25;
    letter-spacing: 0.16666667em;
    text-transform: uppercase;
    margin-bottom: 1.6rem;

    @include respond(tablet) {
      grid-area: row-name;
      margin-bottom: 0;
    }
  }

  &__plan-checklist {
    list-style: none;
    display: flex;
    justify-content: space-between;

    &:last-child {
      margin-right: 4.6rem;
    }

    @include respond(tablet) {
      &:last-child {
        margin-right: 0;
      }

      grid-area: plan-list;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "plan-basic plan-pro plan-business";
      justify-items: center;
    }
  }

  &__plan {
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      grid-area: plan-basic;
    }
    &:nth-child(2) {
      grid-area: plan-pro;
    }
    &:nth-child(3) {
      grid-area: plan-business;
    }
  }

  &__plan-name {
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.16666667em;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 0.8rem;

    @include respond(tablet) {
      display: none;
    }

    &--header {
      display: none;
      opacity: initial;
      margin-bottom: 0;
      font-size: 1.2rem;

      @include respond(tablet) {
        display: block;
      }

      &:nth-child(1) {
        grid-area: plan-basic;
      }
      &:nth-child(2) {
        grid-area: plan-pro;
      }
      &:nth-child(3) {
        grid-area: plan-business;
      }
    }
  }

  &__check-icon {
    height: 1.4rem;
  }
}
