.featured-container {
  & > * {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-template-areas:
      "image"
      "description";

    @include respond(tablet) {
      grid-template-areas: "image description";
      grid-template-columns: 27.3rem 1fr;
    }

    @include respond(desktop) {
      grid-template-columns: 1fr minmax(min-content, 42.36111%);
    }
  }

  :nth-child(odd) {
    @include respond(tablet) {
      grid-template-areas: "description image";
      grid-template-columns: 1fr 27.3rem;
    }

    @include respond(desktop) {
      grid-template-columns: minmax(min-content, 42.36111%) 1fr;
    }
  }

  &--story {

  }
}

.stories {
  width: 100vw;
  @include respond(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.features {
  padding: 8rem 3.2rem;

  @include respond(tablet) {
    padding: 12rem 3.2rem;
  }

  @include respond(desktop) {
    display: flex;
    max-width: 111rem;
    padding: 13.8rem 0 12rem 0;
    margin: 0 auto;
  }

  &--features {
    padding: 6.4rem 3.2rem 9.1rem 3.2rem;

    @include respond(tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 7.2rem;
      column-gap: 1.3rem;

      padding: 11.2rem 3.9rem;

      .feature {
        margin-bottom: 0;
      }
    }

    @include respond(desktop) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 10.4rem;
      column-gap: 3rem;

      padding: 16rem 0;


      .feature {
        margin-right: 0;
      }
    }
  }
}

.plans-container {
  padding: 6.4rem 2.8rem 6.4rem 2.9rem;

  & > *:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}